
/*  #59BDE8 --> CORPO DA PÁGINA
    #0CE899 --> COR DAS LETRAS
    #0C1BE8 --> CONTRASTE DAS LETRAS / NEGRITO

*/
*{
    margin: 0%;
    padding: 0%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body{
    box-sizing: border-box;
    height: 500px;
    background-color: #59BDE8;

}
#conteudo_da_pagina_toda{
    width: 100%;

}

header{
    display: block;
    background-color: #086F9C;
    justify-content: center;
    height: 85px;
    width: 100vw;

}
.logo{
    margin-left: 8%;
    float: left;

}
.logo img{
    width: 75px;
}
.titulo a{
    text-decoration: none;
    padding-top: 0px;
    margin-left: 26%;
    font-size: 70px ;
    color: #2DA84E;
    
}
nav{
    display: block;

    background-color: #0480a2;

    justify-content:center;

    height: 30px;

    width: 100vw;
}
nav ul{
    margin-left: 30%;
    float: left;
    display: flex;
    list-style: none;
    align-self: center;
}
nav li{
    font-size: 25px;
    float: left;
    display: flex;
    list-style: none;
    margin-left: 4px;

}

nav a{
    text-decoration: none;
    color: #e4e4e4;
    transition: 0.5s;
}
nav a:hover{
    color: #0CE899;
    transition: 0.5s;
}



main{



    display:flex;

    flex-direction: column;

    color: #ffffff;

    padding-bottom: 3%;

}

#tituloMain{
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom:3%;
    margin-top: 2%;

}


.botoes:hover{

    transition: 0.3s;
    background-color: #3d5aff ;
    color: #00ff22;


}
.botoes{
    transition: 0.3s;
    width: 50%;

    border-radius: 15px;

    background-color: #1F3BDB ;

    display: flex;

    flex-direction: column;

    align-items: center;

    text-align: center;

    border: 2px solid black;

    color: white;

    margin: 1% 23%;

    padding: 1%;

    text-decoration: none;

    font-size: 30px;
}

#titulointegrantes{
    font-size: 30px;
    display: flex;
    justify-content: center;

    margin-top: 1%;
}

.integrantes{
    margin-top: 2%;
    width: 100%;
    height: 500px;
    background-color: #4b6ae5;
    display: flex;
    justify-content: center;

    font-size: 20px;

}

.integrante{
    border: solid 5px #000000;
    margin-left: 50px;
    width: 20%;
    background-color: #3f0684;
    border-radius: 50px;



}
.integrantes img{

    display: flex;
    justify-content: center;
    margin-left: 8px;
    margin-top: 10px;
    width: 290px;
    height: 290px;
    border-radius: 50px;
}
.integrantes p{

    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    color: #000000;
}

.integrante h2{
    font-weight: 100;
    margin-top: 10px;
    font-size: 50px;
    text-align: center;
    color: #ffffff;
}




footer{

    bottom: 0;
    position: fixed;
    display: flex;

    background-color: #086F9C;
    justify-content: center;
    color: rgb(53, 157, 249);
    height: 4%;
    width: 100vw;

    color: #000000;
}
.rodape{
    display: flex;
    text-align: center;
    justify-content: column;

    font-size: 11px;
}



/*  ---------------------- PAGINA FAQ -------------------*/

#corpo_pagina_faq{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.perguntas{
    width: 50%;
}
.detalhes_perguntas{
    background-color: #1F3BDB;
    padding: 1%;
    border: 2px solid black;
    margin: 1%;
}
.paragrafo_faq{
    background-color: #0CE899;
    background-color: #1F3BDB;
    padding: 1%;
    
    margin: 1%;
}

