@media (min-width: 768px) and (max-width: 992px) {
    #titulo a {
      font-size: 60px;
      margin-left: 20%;
    }
    #logo img {
      width: 70px;
      margin-top: 3px;
    }
    #tituloMenu h1 {
      font-size: 5vw;
    }
    .botoes {
      font-size: 4vh;
    }

    #menuNav {
      min-height: 32vh;
    }

    #menuCores {
      top: 40vh;
    }

  /****************************************/
  /*           PÁGINA PRINCIPAL           */
  /****************************************/



  /*********************************************/
  /*           PÁGINA DE INTEGRANTES           */
  /*********************************************/



  /******************************************/
  /*           PÁGINA DE CONTATO            */
  /******************************************/



  /*************************************/
  /*           PÁGINA DE FAQ           */
  /*************************************/



  /******************************/
  /*           FOOTER           */
  /******************************/

  footer{
    margin-top: 27%;
  }
}