
/*  #59BDE8 --> CORPO DA PÃGINA 
    #0CE899 --> COR DAS LETRAS
    #0C1BE8 --> CONTRASTE DAS LETRAS / NEGRITO

*/
*{
    margin: 0%;
    padding: 0%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

body{
    box-sizing: border-box;
    height: 500px;
    background-color: #59BDE8;
    
    
}
#conteudo_da_pagina_toda{
    width: 100%;
}

header{
    display: block;
    
    background-color: #086F9C;
    
    justify-content: center;
    
    height: 85px;
    
    width: 100vw;
}
.logo{
    margin-left: 10%;
    float: left;
}
.logo img{
    
    width: 75px;
    
}
.titulo a{

    text-decoration: none;
    padding-top: 0px;
    margin-left: 27%;
    font-size: 70px ;
    float: left;
    
    text-align: center;
    color: #2DA84E;
}
nav{
    display: block;
    
    background-color: #0480a2;
    
    justify-content:center;
    
    height: 30px;
    
    width: 100vw;
}
nav ul{
    margin-left: 30%;
    float: left;
    display: flex;
    list-style: none;
    align-self: center;
}
nav li{
    font-size: 25px;
    float: left;
    display: flex;
    list-style: none;
    margin-left: 4px;
    
}

nav a{
    text-decoration: none;
    color: #e4e4e4;
    transition: 0.5s;
}
nav a:hover{
    color: #0CE899;
    transition: 0.5s;
}



main{
    
    margin-top: 2%;
    
    display:flex;
    
    flex-direction: column;
    
    color: #ffffff;
    
    
}

#tituloMain{
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom:5%;
    margin-top: 2%;
    
}


.botoes:hover{
    
    transition: 0.3s;
    background-color: #3d5aff ;
    color: #00ff22;


}
.botoes{
    transition: 0.3s;
    width: 50%;
    
    border-radius: 15px;
    
    background-color: #1F3BDB ;
    
    display: flex;
    
    flex-direction: column;
    
    align-items: center;
    
    text-align: center;
    
    border: 2px solid black;
    
    color: white;
    
    margin: 1% 23%;
    
    padding: 1%;
    
    text-decoration: none;
    
    font-size: 30px;
}

#titulointegrantes{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    font-size: 30px;
}

.integrantes{
    background-color: #1F3BDB;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.integrante{
    padding-left: 5%;
}
.integrantes img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.integrantes p{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


footer{
   
    bottom: 0;
    position: fixed;
    display: flex;
    
    background-color: #086F9C;
    justify-content: center;
    color: rgb(53, 157, 249);
    height: 4%;
    width: 99vw;
    
    color: #000000;
}
.rodape{
    padding-top: 2px;
    display: flex;
    text-align: center;
    justify-content: column;
    
    font-size: 11px;
}
