@media (min-width: 1300px) {
  header {
    height: 14%;
  }

    #titulo a {
      padding-top: 5px;
      margin-left: 24%;
      font-size: 75px;
    }
    #logo img {
      padding-top: 0;
      width: 80px;
    }
    .botoes {
      font-size: 4.5vh;
    }
    #info h1 {
      font-size: 2.8vw;
      margin-top: 55vh;
    }
    
  /****************************************/
  /*           PÁGINA PRINCIPAL           */
  /****************************************/



  /*********************************************/
  /*           PÁGINA DE INTEGRANTES           */
  /*********************************************/



  /******************************************/
  /*           PÁGINA DE CONTATO            */
  /******************************************/



  /*************************************/
  /*           PÁGINA DE FAQ           */
  /*************************************/



  /******************************/
  /*           FOOTER           */
  /******************************/


  }