
/*  #59BDE8 --> CORPO DA PÃGINA 
    #0CE899 --> COR DAS LETRAS
    #0C1BE8 --> CONTRASTE DAS LETRAS / NEGRITO

*/
*{
    margin: 0%;
    padding: 0%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

body{
    box-sizing: border-box;
    height: 500px;
    background-color: #59BDE8;
    
    
}
#conteudo_da_pagina_toda{
    width: 100%;
}

header{
    display: block;
    
    background-color: #086F9C;
    
    justify-content: center;
    
    height: 50px;
    
    width: 100%;
}
.logo{
    margin-left: 10%;
    float: left;
}
.logo img{
    
    width: 45px;
    
}
.titulo a{

    text-decoration: none;
    padding-top: 0px;
    margin-left: 26%;
    font-size: 43px ;
    float: left;
    
    text-align: center;
    color: #2DA84E;
}
nav{
    display: block;
    
    background-color: #0480a2;
    
    justify-content:center;
    
    height: 25px;
    
    width: 100%;
}
nav ul{
    margin-left: 29%;
    float: left;
    display: flex;
    list-style: none;
    margin-top: 1px;
    align-self: center;
}
nav li{
    
    float: left;
    display: flex;
    list-style: none;
    margin-left: 4px;
    
}

nav a{
    text-decoration: none;
    color: #e4e4e4;
    transition: 0.5s;
}
nav a:hover{
    color: #0CE899;
    transition: 0.5s;
}



main{
    
    margin-top: 2%;
    
    display:flex;
    
    flex-direction: column;
    
    color: #ffffff;
    
    
}

#tituloMain{
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom:5%;
    margin-top: 2%;
    
}


.botoes:hover{
    
    transition: 0.5s;
    background-color: #3d5aff ;
    color: #00ff22;


}
.botoes{
    transition: 0.5s;
    width: 50%;
    
    border-radius: 15px;
    
    background-color: #1F3BDB ;
    
    display: flex;
    
    flex-direction: column;
    
    align-items: center;
    
    text-align: center;
    
    border: 2px solid black;
    
    color: white;
    
    margin: 1% 23%;
    
    padding: 1%;
    
    text-decoration: none;
    
    font-size: 15px;
}

footer{
   
    bottom: 0;
    position: fixed;
    display: flex;
   
    background-color: #086F9C;
    justify-content: center;
    color: rgb(53, 157, 249);
    height: 6%;
    width: 100%;
    
    color: #0CE899;
}
.rodape{
    font-size: 10px;
}
